name: Client CI

on:
  push:
    branches: [ main ]
  pull_request: 

jobs:
  client-ci: 
    runs-on: ubuntu-latest
    
    steps: 
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci
    
    - name:  Run tests
      run: npm test

  client-e2e:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with: 
        node-version: '20'
        cache: 'npm'
    
    - name:  Install dependencies
      run: npm ci
    
    - name: Install Playwright browsers
      run: npx playwright install --with-deps
    
    - name: Run Playwright tests
      run: npx playwright test
